<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\inetpub\Tailspin</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="About.aspx">
      <publishTime>05/02/2012 15:11:24</publishTime>
    </File>
    <File Include="Address.aspx">
      <publishTime>05/02/2012 15:11:24</publishTime>
    </File>
    <File Include="bin/StructureMap.dll">
      <publishTime>05/02/2012 15:11:22</publishTime>
    </File>
    <File Include="bin/Tailspin.Infrastructure.dll">
      <publishTime>04/01/2012 23:51:19</publishTime>
    </File>
    <File Include="bin/Tailspin.Infrastructure.pdb">
      <publishTime>05/02/2012 14:54:15</publishTime>
    </File>
    <File Include="bin/Tailspin.Model.dll">
      <publishTime>04/01/2012 23:51:20</publishTime>
    </File>
    <File Include="bin/Tailspin.Model.pdb">
      <publishTime>05/02/2012 14:54:15</publishTime>
    </File>
    <File Include="bin/Tailspin.SimpleSqlRepository.dll">
      <publishTime>04/01/2012 23:51:20</publishTime>
    </File>
    <File Include="bin/Tailspin.SimpleSqlRepository.pdb">
      <publishTime>05/02/2012 14:54:21</publishTime>
    </File>
    <File Include="bin/Tailspin.WebUpgraded.dll">
      <publishTime>04/01/2012 23:51:22</publishTime>
    </File>
    <File Include="bin/Tailspin.WebUpgraded.pdb">
      <publishTime>05/02/2012 14:54:27</publishTime>
    </File>
    <File Include="Cart.aspx">
      <publishTime>05/02/2012 15:11:24</publishTime>
    </File>
    <File Include="Content/XML/Ads.xml">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/cms.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/forms.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/grid.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/grid.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/ieStyles.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/lightbox.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/popupStyles.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/popupSystem.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/print.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/reset.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/structure.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/styles.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/Thumbs.db">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/typography.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="CSS/widgets.css">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Default.aspx">
      <publishTime>05/02/2012 15:11:24</publishTime>
    </File>
    <File Include="Detail.aspx">
      <publishTime>05/02/2012 15:11:24</publishTime>
    </File>
    <File Include="Errors.html">
      <publishTime>05/02/2012 15:11:24</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>05/02/2012 15:11:24</publishTime>
    </File>
    <File Include="Finalize.aspx">
      <publishTime>05/02/2012 15:11:24</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Home.aspx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/background-main.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/background-tile-right.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/btn-add-cart.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/btn-checkout-large.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/btn-checkout.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/btn-go.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/btn-model.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/btn-paper.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/btn-remove.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/btn-view-plane.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/coupon-code-background.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/logo-corner.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/logo.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/plane-home.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/product-categories.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/product-category-background.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/product-detail-btm.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/product-detail-top.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/product-listing-background-btm.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/product-listing-background.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/product-listing-btm.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/product-listing-top.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/related-products-btm.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/related-products-tile.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/related-products-top.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/shopping-cart-background.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/shopping-cart-icon.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/shopping-cart-table-head.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/Thumbs.db">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Images/trans.png">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Listing.aspx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Motion/Tailspin.xap">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="ProductImages/cce-cart.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="ProductImages/cce-thumb.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="ProductImages/fcf-cart.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="ProductImages/fcf-thumb.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="ProductImages/nwt-cart.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="ProductImages/nwt-thumb.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="ProductImages/trr-cart.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="ProductImages/trr-thumb.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="ProductImages/wts-cart.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="ProductImages/wts-thumb.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="ProductImages/wwi-cart.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="ProductImages/wwi-thumb.jpg">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Receipt.aspx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Scripts/clear.gif">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Scripts/cufon-yui.js">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Scripts/jquery-1.3.2.min.js">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Scripts/lightbox+++.js">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Scripts/PopUpMenu.js">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Scripts/Silverlight.js">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Scripts/StateDropDown.js">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Scripts/Stencil_Std_700.font.js">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Scripts/unitpngfix.js">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Shared/AddressDisplay.ascx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Shared/AddressEntry.ascx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Shared/ComingSoon.ascx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Shared/CreditCard.ascx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Shared/Favorites.ascx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Shared/FeaturedProduct.ascx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Shared/Html.ascx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Shared/Menu.ascx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Shared/NewProducts.ascx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Shared/ProductList.ascx">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Shared/Site.Master">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Template.Master">
      <publishTime>05/02/2012 15:11:26</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>04/01/2012 23:51:22</publishTime>
    </File>
  </ItemGroup>
</Project>